/*For Poppins Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: "Poppins", sans-serif;
}
p{
    color: rgb(85,85,85);
    width: 1000px;
}


/* Nav */
nav, .nav-links {
   display: flex; 
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    margin-bottom: 3vh;
    color: white;
    background-color: black;
}
.nav-links{
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
}
a.nav-link{
    color: white; 
    padding: 5px;
    text-decoration: none;
    transition: all ease-out;
    /* text-decoration-color: white; */

}
a:hover{
    color: rgb(150, 150, 150);
    border: 1px, solid, black;
    border-color: rgb(150, 150, 150);
}
#Name{
    cursor: default;
}

/*About Me*/
#AboutMeContainer{
    justify-content: center;
    display: flex;
}
#AboutMe{
    margin-right: 50px;
}

/*Profile*/
#Profile{
    display: flex;
    justify-content: center;
}

/* Images */
#ProfilePhoto{
    width: 250px;
    height: 300px;
    border-radius: 50%;
    margin-right: 50px;
}
.logos{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.logos:hover{
    cursor: pointer;
}